
.statistics-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 1525px;
  /*padding-left: 500px;*/
  /*padding-right: 500px;*/
}

.statistic {
  text-align: center;
  flex-basis: 30%;
  /*padding-right: 200px;*/
  height: 150px;
}

.title {
  margin-top: 70px;
  margin-left: 1200px;
  color: #c4c4c4;
  position: absolute;
}