.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 5% 10%;
}

.point-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}


.animated-line {
  stroke-dasharray: 17;
  animation: dash 1s linear infinite;
  filter: drop-shadow(0 0 5px rgb(104, 193, 255));
}

.animated-line-reverse {
  stroke-dasharray: 17;
  animation: dash 1s linear infinite reverse;
  filter: drop-shadow(0 0 5px rgb(104, 193, 255));
}

@keyframes dash {
  to {
    stroke-dashoffset: 34;
  }
}
